Assign data types to a variable name to easily reference them in our code.

For example: my_dogs = 2

Rules for variable names:
1. Names can not start with number
2. There can be no spaces in the name, use _instead
3. PEP8 is best practice that names are lowercase.
4. Avoid using words that have special meaning in Python like 'list' and 'str'.

Python uses Dynamic Typing. Reassign variables to different data types. Makes Python flexible.

In [20]:
#assign name and create variables
name = 'smeet'

In [21]:
#call the variable
name

'smeet'

In [22]:
#re-assign a variable
name = 'Martha'

In [29]:
#add objects
a = 10

In [30]:
a + a

20

In [31]:
#Re-assign with reference to the same object
a = a * a

In [32]:
a

100

In [36]:
#get the type of the variable
type (a)

int

In [37]:
type (name)

str

In [41]:
#find total tax paid
income = 10.00
tax_rate = 0.05

my_taxes = income * tax_rate

In [42]:
my_taxes

0.5